@media screen and (max-width:1024px) {

    .profile__container {
        grid-template-columns: 1fr;
        margin: 1.5rem;
    }

    .tools {
        grid-column: 1 / 2;
        grid-row: 6 / 8 ;
    }

    .power {
        grid-column: 1 / 2;
        grid-row: 8/9;
    }
    
    .weakness {
        grid-column: 1 / 2;
        grid-row: 9/10;
    }
    
    .profile {
        &__values {
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                height: 300px;
                z-index: 1;
            }
            &__desc {
                border-top: 1px solid oscurecer($color);
                border-bottom: 1px solid oscurecer($color);
                border-right: 1px solid oscurecer($color);
                margin-left: -70px;
                padding-left: 80px;
                padding-right: 60px;
                max-width: 600px;
                word-wrap: break-word;
            }
        }
    }
}

@media screen and (max-width:760px) {
        
    .profile__container {
        grid-template-columns: 1fr;
        margin: 0.8rem;
    }
        
    .profile {
        &__values {
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                height: 300px;
                z-index: 1;
            }
        &__desc {
            border-top: 1px solid oscurecer($color);
            border-bottom: 1px solid oscurecer($color);
            border-right: 1px solid oscurecer($color);
            margin-left: -70px;
            padding-left: 80px;
            padding-right: 60px;
            max-width: 600px;
            word-wrap: break-word;
            }
        }
    }
}

@media screen and (max-width:500px) {

    .profile__container {
        grid-template-columns: 1fr;
        margin: 0.8rem;
    }

    .profile {
        &__values {
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                height: 180px;
                z-index: 1;
            }
            &__desc {
                border-top: 1px solid oscurecer($color);
                border-bottom: 1px solid oscurecer($color);
                border-right: 1px solid oscurecer($color);
                margin-left: -70px;
                padding-left: 80px;
                padding-right: 30px;
                max-width: 600px;
                word-wrap: break-word;
            }
        }
    }
}


@media screen and (max-width:400px) {

    .profile__container {
        grid-template-columns: 1fr;
        margin: 1rem;
    }

    .profile {
        &__card{            
            max-width: 300px;    
        }
    }

    .profile__tools{
        max-width: 342px;
    }

    .english-level {
        max-width: 342px;
        margin: 3rem;
    }

    .profile {
        &__values {
            display: flex;
            justify-content: center;
            align-items: center;
            
        img {
            height: 100px;
            z-index: 1;
        }
        &__desc {
            border-top: 1px solid oscurecer($color);
            border-bottom: 1px solid oscurecer($color);
            border-right: 1px solid oscurecer($color);
            border-left: 1px solid oscurecer($color);
            margin-left: -78px;
            padding-left: 80px;
            padding-right: 10px;
            max-width: 600px;
            word-wrap: break-word;
            }
        }
    }
}