@media screen and (max-width:1024px) {

    .profile__container {
        grid-template-columns: 1fr;
    }

    .tools {
        grid-column: 1 / 2;
        grid-row: 6 / 8 ;
    }

    .power {
        grid-column: 1/2;
        grid-row: 8/9;
    }
    
    .weakness {
        grid-column: 1/2;
        grid-row: 9/10;
    }

}